*.config
*.dcu
*.exe
*.dat
*.log
*.bat
*.xml
Atualiza*.*
*.drc
*.identcache
*.rsm
*.dll
*.map
*.local
*.todo
*.bak
*.orig
Backup
Imagens
ModelSupport
*__history
Projeto/Tools
*.txt
*.ini
*.cmds
*.res
*.skincfg
*.stat
*.application
*.manifest
*.json
*.xsd
*.fdb
__recovery
